.review-card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

.view-reviews-link {
  color: #3498db;
  font-weight: bold;
  font-size: 0.9rem;
  display: inline-block;
  margin-top: 10px;
  transition: color 0.2s;
}

.review-card:hover .view-reviews-link {
  color: #2980b9;
  text-decoration: underline;
}

.review-rating {
  color: hsl(37, 90%, 51%);
}